.app {
  width: 100%;
  height: 100%;
}

.game {
  height: 100%;
  width: 75%;
  float: left;
  background-color: black;
}

.side-panel {
  background-color: aqua;
  float: right;
  height: 100%;
  width: 25%;
}

.canvas {
  margin: auto;
  display: inline;
}
